
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Montserrat:wght@400;700&display=swap');

/* Base styling */
body {
  font-family: 'Inter', sans-serif;
  color: #424242;
  background-color: #EDF1D6;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #2E7D32;
}

.cv {
  background-color: #EDF1D6;
  height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
}

/* Reusable button style */
.btn {
  background-color: #f57a28;
  color: #EDF1D6;
  text-transform: uppercase;
  padding: 15px 40px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


  footer {
    background: #424242;
    color: #F8F9FA;
    text-align: center;
    padding: 2rem;
  }