@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Empêche le débordement horizontal */
  }
  
  header {
    background-color: #40513B;
    width: 100%;
    height: 10vh;
    margin: 0 auto;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }

  .header-placeholder {
    width: 100%;
    height: 10%;
    background-color: #40513B;
  }

  .header-container {
    width: 100%;
    height: 10%;
  }

.header-bar h1,
.header-bar nav,
.header-bar .contact-button {
  margin: 0;
  padding: 0;
}
  
  header h1 {
    font-size: 2rem;
    color: #9DC08B;
  }


  nav ul {
    list-style: none;
    padding: 0;
    margin: 0em 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  nav ul li {
    margin: 0 1em;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #EDF1D6;
  }
  
  nav ul li a:hover {
    color: #35516e;
  }

  .primary-navigation {
    margin: 1rem auto 0;      /* Petit espace sous le <h1>, plus rien au‑dessus */
    text-align: center;
    font-family: Arvo, serif;
    font-size: 16px;
  }
  
  .primary-navigation ul {
    margin: 0;
    padding: 0;
  }
  
  .primary-navigation ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 0 20px;
  }
  
  .primary-navigation a {
    text-decoration: none;
    color: #EDF1D6;
    display: block;
    padding: 10px 0;
  }
  
  .primary-navigation a:hover {
    color: #9DC08B;
  }
  
  /* Dropdown styling */
  .primary-navigation ul li ul.dropdown {
    visibility: hidden;
    opacity: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #609966;
    box-shadow: 0px 3px 5px -1px #ccc;
    padding-top: 20px;
    min-width: 200px;
  }
  
  .primary-navigation ul li:hover > ul.dropdown {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  
  .primary-navigation ul li ul.dropdown li {
    display: block;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .primary-navigation ul li ul.dropdown li a:hover {
    padding-left: 10px;
    border-left: 2px solid #40513B;
    transition: all 0.3s ease;
  }
  

  .header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding-top: 1.5rem;
    margin: 0 auto;
    background-color: #40513B;
  }
  .btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #f57a28;
  color: #EDF1D6;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #cf6721;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

@media (max-width: 600px) {
  header {
    height: 15vh; 
  }
  header h1 {
    font-size: 4vw;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav ul li {
    margin: 0.5em 0;
  }
  .header-bar {
    flex-direction: column;
    padding: 1rem 0;
  }
}
